 $font-stack:"helvetica Neue", Helvetica, Arial, sans-serif;
 $header-stack:"helvetica Neue", Helvetica, Arial, sans-serif;
 html {
     background-color: #fff;
 }
 body {
     background: url("/images/bg.jpg") no-repeat fixed right top 30px white;
     font-family: $font-stack;
 }
 p {
     font-size: 15px;
     font-family: $font-stack;
 }
 div.well {
     font-family: $font-stack;
 }
 h1, h2, h3 {
     font-family: $header-stack;
 }
 div.page-container {
     position: relative;
     left: 0;
     top: 0;
 }
 div.container {
     margin-left: 0;
 }
 div.container {
     background-color: #fff;
     border-radius: 0 8px 8px 0;
     margin-top: 15px;
     padding: 15px;
 }
 @media (min-width: 1200px) {
     .container {
         max-width: 970px;
     }
 }
 span.autopredict-logotype {
     /*margin: 0px 0 0; */
     color: #333;
     padding: 0;
     font-family: $header-stack;
     font-size: 6.7em;
     font-kerning: normal;
     position: relative;
     background-color: rgba(255, 255, 255, 0.85);
     display: inline-block;
     line-height: 180px;
     text-shadow: 1px 2px 3px #FFF;
     /*top: -110px;*/
 }
 span.autopredict-logotype:first-letter {
     font-size: 2.6em;
 }
 .autopredict-slogan {
     font-family: $header-stack;
     font-size: 2.32em;
     color: #333;
     letter-spacing: -2px;
     margin-top: -45px;
     position: relative;
     word-spacing: -1px;
     text-shadow: 1px 2px 3px #FFF;
     /*top: -110px;*/
 }
 @media (min-width: 970px) {
     button#uk, button#nl {
         margin-top: 32px;
     }
 }
 .browsehappy {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }
 /*.form-control-addon {
    width: 10% !important;
}*/
 .rdio-group {
     width: 80%;
 }
 .rdio-group input[type="radio"] {
     margin: 0 10px;
 }
 .input-month {
     min-width: 10% !important;
     width: auto !important;
 }
 .well-top {
     margin-bottom: 0px;
     margin-top: 20px;
 }
 .alert-danger {
     background-color: #f2dede !important;
 }
 .experiment-text {
     position: relative;
     padding: 45px 15px 15px;
     margin: 15px 0;
 }
 .experiment-text:after {
     content:"Retype this text | Typ deze tekst over";
     position: absolute;
     top: 15px;
     left: 15px;
     font-size: 12px;
     font-weight: bold;
     color: #888;
     letter-spacing: 1px;
 }
 .step textarea {
     padding: 15px;
     position: relative;
 }
 .copyright {
     margin-top: 80px;
     background-color: rgba(255, 255, 255, 0.8);
     text-align: center;
 }
 .copyright a, .copyright a:active, .copyright a:link, .copyright a:visited, .copyright a:focus {
     color: #000;
     text-decoration: none;
     outline:none;
 }
 .navbar .nav li a {
     padding: 10px 20px;
 }
 .tip .focus {
     color: blue;
 }
 .tip {
     display: none;
     border: 1px solid #bbb;
     border-radius: 5px;
     background: #fff;
     z-index: 3;
     position: absolute;
     top: 26px;
     left: 28px;
 }
 .tip ul {
     padding: 5px;
     margin: 0;
 }
 .tip li {
     list-style: none;
 }
 .ui4 {
     position: absolute;
     border: 0;
     z-index: 1;
     padding: 7px 13px;
     width: 616px;
     height: 242px;
     color: #bbb;
 }
 .step3textarea, .step4textarea {
     position: relative;
     z-index: 2;
     background: transparent;
 }
 .mark_textarea {
     position: absolute;
     white-space: pre-wrap;
     padding: 16px;
     z-index: 0;
     height: 242px;
     overflow: hidden;
     color: transparent;
     width: 617px;
 }
 #fb_login_button {
     width: 80px;
 }
 #fb_login_button span, #fb_login_button iframe {
     width: 80px !important;
     height: 25px !important;
 }
