<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AutoPredict experiment</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/import.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.all.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="bower_components/sass-bootstrap/assets/js/html5shiv.js"></script>
    <script src="bower_components/sass-bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
              appId      : 1414329445500585,
              xfbml      : true,
              status     : false,
              version    : 'v2.0'
            });
       };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="error"></div>
    <div id="fb-root"></div>
    <div class="page-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <span class="autopredict-logotype">Autopredict</span>
                <h1 class="autopredict-slogan">An experiment in enhanced text processing</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="#"><a href="/">Home</a>
                            </li>
                            <li class="#"><a href="/info">Info</a>
                            </li>
                             <li class="#"><button class="header-start-btn" id="uk" style="background:none;border:0;margin:0;padding: 10px 20px;color:#777">Start! <i class="fa fa-arrow-circle-o-right"></i></button>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <p>
                            <strong>Nederlands</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <p>
                            <strong>English</strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <p>AutoPredict is een integraal onderdeel van de onderzoeksscriptie van Thijs Baars ter behaling van zijn mastergraad (MSc.) aan de Universiteit Utrecht. Het experiment onderzoekt of tekst sneller kan worden verwerkt met behulp van tekstvoorspelling.<br /> In tegenstelling tot tekstvoorspelling op mobiele telefoons, is tekstvoorspelling op toetsenborden van PCs en laptops amper onderzocht door de wetenschap. Dit onderzoek probeert dit gat te vullen.<br />
                        Voor meer informatie kunt u terecht op de website van het Departement Information and Computing Science van de Faculteit Betawetenschappen, Universiteit Utrecht: <a href="http://www.cs.uu.nl">www.cs.uu.nl</a><br />
                        email: <a href="mailto://t.baars@uu.nl">t.baars@uu.nl</a>
                        </p>
                        <button class="btn btn-primary btn-block" id="nl">Klik om te beginnen!</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <p>AutoPredict is an integral part of the research thesis of Thijs Baars, as part of his master studies in Business Informatics (MSc.) at Utrecht University. This experiment invesitgates if text processing can be quicker by means of text prediction. <br />Contrary to mobile text processing, text processing on desktop PCs and laptops has not seen much research to date. This research tries to fill that gap. <br />
                        You can visit the website of the Department of Information and Computing Science at the Faculty of Science, Utrecht University for more information: <br />
                        <a href="http://www.cs.uu.nl">www.cs.uu.nl</a>
                        <br />
                        email: <a href="mailto://t.baars@uu.nl">t.baars@uu.nl</a>
                        </p>
                        <button class="btn btn-primary btn-block" id="uk">Click to start!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>
                <small>
                    &copy; 2014 Thijs Baars | <a href="/privacy">Privacy</a> | <a href="/info">over dit experiment // about this experiment</a>
                </small>
            </p>
        </div>
    </div>

    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/utils.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/sass-bootstrap/js/alert.js"></script>
    <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
    <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
    <script src="bower_components/sass-bootstrap/js/modal.js"></script>
    <script src="bower_components/sass-bootstrap/js/transition.js"></script>
    <script src="bower_components/sass-bootstrap/js/button.js"></script>
    <script src="bower_components/sass-bootstrap/js/popover.js"></script>

    <script type="text/javascript" src="scripts/libs/jstorage.min.js"></script>
    <script type="text/javascript" src="scripts/libs/jquery.validate.js"></script>

    <script type="text/javascript" src="scripts/jquery.caretposition.js"></script>
    <script type="text/javascript" src="scripts/libs/rangyinputs_jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs/rangy-core.js"></script>
    <!-- endbuild -->
</body>

</html>
